name: Terraform Apply

# Triggers: When does this workflow run?
on:
  push:
    branches:
      - main
    # Path Filters: Only run if files in these specific directories change.
    # This prevents deploying Prod when you only changed Dev, and vice versa.
    paths:
      - 'envs/dev/**'  # Trigger specific to Dev environment
      - 'envs/prod/**' # Trigger specific to Prod environment
      - 'modules/**'   # If modules change, we want to redeploy EVERYTHING to ensure compatibility.
  
  # Manual Trigger: Allows you to click "Run workflow" in GitHub UI.
  workflow_dispatch:

permissions:
  id-token: write # Required for requesting the JWT token for AWS OIDC authentication
  contents: read  # Required to checkout the code

jobs:
  # JOB 1: Deploy to Development
  deploy-dev:
    name: Deploy API to Dev
    # Conditional Logic:
    # Run if it's a manual trigger OR if the changes include files in 'envs/dev/' or 'modules/'
    if: github.event_name == 'workflow_dispatch' || (contains(github.event.head_commit.modified, 'envs/dev/') || contains(github.event.head_commit.modified, 'modules/'))
    runs-on: ubuntu-latest
    environment: dev # Links this job to the "dev" environment in GitHub Settings (useful for secrets/protection rules)
    defaults:
      run:
        working-directory: envs/dev # All terraform commands below will run inside this folder
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OCID)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          # The IAM Role ARN that GitHub Actions will assume to talk to AWS
          role-to-assume: arn:aws:iam::170974506299:role/aura-tf-cicd-ip-role
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        # Initialize the backend (S3) and download providers.
        run: terraform init

      - name: Terraform Format
        # Fails the pipeline if your code isn't properly formatted.
        run: terraform fmt -check

      - name: Terraform Validate
        # Checks for syntax errors and valid configuration.
        run: terraform validate

      - name: Terraform Plan
        # Generates an execution plan and saves it to a file named 'tfplan'.
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        # Applies the saved plan automatically without asking for confirmation (-auto-approve).
        run: terraform apply -auto-approve tfplan

  # JOB 2: Deploy to Production
  deploy-prod:
    name: Deploy API to Prod
    # Conditional Logic: Similar to dev, but looks for changes in 'envs/prod/'
    if: github.event_name == 'workflow_dispatch' || (contains(github.event.head_commit.modified, 'envs/prod/') || contains(github.event.head_commit.modified, 'modules/'))
    runs-on: ubuntu-latest
    environment: prod
    defaults:
      run:
        working-directory: envs/prod
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OCID)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::170974506299:role/aura-tf-cicd-ip-role
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
